<form action="/result" method="post">
    <p>どんなトリセツをつくる？</p>
    <label for="category_select">カテゴリを選択：</label>
    <select id="category" name="category">
        <option value="">-- 選択してください --</option>
        <option value="はたらくときのわたし">はたらくときのわたし</option>
        <option value="友だちとのわたし">友だちとのわたし</option>
        <option value="ネットの中のわたし">ネットの中のわたし</option>
        <option value="いっしょに暮らすわたし">いっしょに暮らすわたし</option>
        <option value="other">その他（自由入力）</option>
    </select>
<%#Todo JSでその他を選択したときのみ表示%>
    <div>
    <label for="category_custom">自由入力：</label>
    <input type="text" name="category_custom" placeholder="例：サークルでのわたし など" />
    </div>

<br><br>
    <div>
    <label for="name">名前：</label>
    <input type="text" name="name" placeholder="田中　太郎" />
    </div>

    <div>
    <label for="name_furigana">ふりがな・よみかた：</label>
    <input type="text" name="name_furigana" placeholder="たなか　たろう" />
    </div>
<br><br>

<% 5.times do |i| %>
    <%= erb :"partials/_question_block", locals: { index: i + 1 } %>
<% end %>

<br><br>
    <label for="message">みんなにひとこと:</label>
    <textarea id="message" name="message"><%= @message %></textarea>
<br><br>

    <button type="submit">トリセツをつくる</button>

</form>
