<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>トリセツ.me</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <main>
    <%= yield %>   <!-- ここに個別ページの中身が入る -->
  </main>

  <footer>
    <p>© 2025 Iwasaki Yuka All rights reserved.</p>
  </footer>
  <script src="/js/script.js"></script>
</body>
</html>
