<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>わたしのトリセツ.me</title>
  <link rel="stylesheet" href="/css/style.css">
    <!-- OGPタグ -->
  <meta property="og:title" content="わたしのトリセツ" />
  <meta property="og:description" content="自己紹介" />
  <meta property="og:type" content="website" />
  <meta name="twitter:card" content="summary_large_image" />
  <% if @profile && @profile["uuid"] %>  <!--ガード節安全確認 -->
  <meta property="og:image" content="<%= url("/ogp/#{@profile["uuid"]}.png") %>"/>
  <% end %>
</head>
<body>
  <main>
    <%= yield %>
  </main>
<br><br>
  <footer>
    <p>© <%= Time.now.year %> Iwasaki Yuka All rights reserved.</p>
  </footer>
<script src="/js/script.js" defer></script>
<script src="/js/validation.js" defer></script>
</body>
</html>
