<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>わたしのトリセツ.me</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <main>
    <%= yield %>
  </main>
<br><br>
  <footer>
    <p>© <%= Time.now.year %> Iwasaki Yuka All rights reserved.</p>
  </footer>
<script src="/js/script.js" defer></script>
<script src="/js/validation.js" defer></script>
</body>
</html>
