<p>のトリセツ</p>

<p>好きなもの・関心のあること:</p>
<p>苦手なこと・注意してほしいこと:</p>
<p>趣味・リフレッシュ方法:</p>
<p>最近注力していること:</p>
<p>わたしはこういう人</p>
<p>社交</p>
<p>感情</p>
<p>計画</p>
<p>みんなにひとこと:</p>

<button id="profile_text">自己紹介文をみる</button>

<p>ほかの自己紹介に書き換える？</p>
<button><a href="">職場用</a></button>
<button><a href="">サークル用</a></button>
<button><a href="">SNS用</a></button>

<p>コピペできるボタン付きの生成されたURL</p>

<a id="postToX" class="x-post-button" href="#" target="_blank" rel="noopener noreferrer">
    結果をXにポストする </a>

<button id="retryBtn">作成画面に戻る</button>
