<div id=title>
<p id=top_i>わたしの</p>
<h1 id=top_h1>トリセツ.me</h1>
</div>

<div id=SiteDescription>
<p>簡単作成！<br>
オンラインでも共有できる自己紹介コミュニケーションツール<br>
はじめての人とも距離をぐっと縮めるきっかけに</p>
</div>

<p>まずはトリセツを作ってみよう！</p>

<a href="/edit" id="top_button">START</a>
