<div id=title>
<p id=top_i>わたしの</p><br><br>
<h1 id=top_h1>トリセツ.me</h1>
</div>

<div id=SiteDescription>
<p>簡単作成！<br>
オンライン共有できる自己紹介アプリ<br>
初対面でも距離を縮めるきっかけに</p>
</div>

<p>まずはトリセツを作ってみよう！</p>

<a href="/edit" id="top_button">START</a>
