<div id=title>
<p id=top_i>わたしの</p><br class="br-sp"><br class="br-sp">
<h1 id=top_h1>トリセツ.me</h1>
</div>

<div id=SiteDescription>
<p>簡単作成！<br>
オンラインでも共有できる<br class="br-sp">自己紹介コミュニケーションツール<br><br class="br-sp">
はじめての人とも<br class="br-sp">距離をぐっと縮めるきっかけに</p>
</div>

<p>まずはトリセツを作ってみよう！</p>

<a href="/edit" id="top_button">START</a>
