<h1>わたしのトリセツ.me</h1>
<p>3分で簡単作成！<br>
オンラインで共有できる自己紹介ツール<br>
はじめて会う人との距離をぐっと縮めるきっかけに</p>

<p>下のボタンからトリセツを作ってみよう！</p>

<button><a href="/input">職場用</a></button>
<button><a href="/input">サークル用</a></button>
<button><a href="/input">SNS用</a></button>
