/** ベーススタイル */
html {
    font-size: 100%;
    margin: 0px;
    touch-action: manipulation;
}

/** フォント全体設定 */
/** タイトル用フォント */
@font-face {
    font-family: "misaki_gothic_2nd";
    src: url("/fonts/misaki_gothic_2nd.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

/** 本文用フォント */
@font-face {
    font-family: "JF-Dot-k12x10";
    src: url("/fonts/JF-Dot-k12x10.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/** ライト⇔ダークモード　カラー設定 */
/** ユーザー設定に合わせる用 */
:root {
    --bg: #e0e0e0; /*全体の背景色*/
    --fg: #4d4c4b; /*全体の文字色*/
    --nb: #f7f6f2; /*ナビゲーションの背景*/
    --a: #0077cc; /*リンク：通常時*/
    --av: #0000ff; /*リンク：訪問済み*/
    --ah: #ff0000; /*リンク：ホバー時*/
    --lb: #2d2f41; /*LBボタン背景*/
    --lf: #fff; /*LBボタン文字*/
    --lh: #ff4747; /*ボタン背景:ホバー時*/
    --dl: #423a3a; /*準備中リンク*/
  /* !トップ画像までつくれたらコメントアウト復活 */
    /* #img-top {content: url("image/top_light.GIF");} */
}

@media (prefers-color-scheme: dark) {
    :root {
    /*ユーザーがダークモードを使っている*/
    --bg: #2d2f41; /*全体の背景色*/
    --fg: #fff; /*全体の文字色*/
    --nb: #747796; /*ナビゲーションの背景*/
    --a: #66bfff; /*リンク：通常時*/
    --av: #00ffff; /*リンク：訪問済み*/
    --ah: #ff0000; /*リンク：ホバー時*/
    --lb: #f0f0f0; /*ボタン背景*/
    --lf: #000; /*ボタン文字*/
    --lh: #ff4747; /*ボタン背景:ホバー時*/
    --dl: #1a4058; /*準備中リンク*/
    /* !トップ画像までつくれたらコメントアウト復活 */
    /* #img-top {content: url("image/top_dark.GIF");} */
}
}

/** JS用　ボタン切替時の色切替 */
body.light-mode {
    --bg: #e0e0e0; /*全体の背景色*/
    --fg: #4d4c4b; /*全体の文字色*/
    --nb: #ffffff; /*ナビゲーションの背景*/
    --a: #0077cc; /*リンク：通常時*/
    --av: #0000ff; /*リンク：訪問済み*/
    --ah: #ff0000; /*リンク：ホバー時*/
    --lb: #2d2f41; /*LBボタン背景*/
    --lf: #fff; /*LBボタン文字*/
    --lh: #ff4747; /*ボタン背景:ホバー時*/
    --dl: #423a3a; /*準備中リンク*/
  /* !トップ画像までつくれたらコメントアウト復活 */
  /* #img-top {content: url("image/top_light.GIF");} */
}

body.dark-mode {
    /*ユーザーがダークモードを使っている*/
    --bg: #2d2f41; /*全体の背景色*/
    --fg: #fff; /*全体の文字色*/
    --nb: #747796; /*ナビゲーションの背景*/
    --a: #66bfff; /*リンク：通常時*/
    --av: #00ffff; /*リンク：訪問済み*/
    --ah: #ff0000; /*リンク：ホバー時*/
    --lb: #f0f0f0; /*LBボタン背景*/
    --lf: #000; /*LBボタン文字*/
    --lh: #ff4747 ; /*ボタン背景:ホバー時*/
    --dl: #1a4058; /*準備中リンク*/
  /* !トップ画像までつくれたらコメントアウト復活 */
    /* #img-top {content: url("image/top_dark.GIF");} */
}

/** 全体設定 */
body {
    font-family: "JF-Dot-k12x10", "游ゴシック", sans-serif;
    line-height: 2.5;
    margin: 0;
    background-color: var(--bg);
    color: var(--fg);
}

main,
footer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    text-align: center;
}

/** TOPページ */
#title {
    position: relative;
    display: inline-block;
    margin-top: 2rem;
}

#top_h1 {
    font-size: 5rem;
}

#top_i {
    position: absolute;
    top: -5px;
    padding: 8px 16px;
    background: var(--nb);
    border: 2px solid var(--nb);
    border-radius: 30px;
    font-size: 1.2em;
}

/* 吹き出しの三角（下向き） */
#top_i::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: 7px;
    border: 15px solid transparent;
    border-top: 15px solid var(--nb);
}

#SiteDescription {
    background-color: var(--nb);
    border-radius: 10px;
    border: 10px solid var(--nb);
    max-width: 600px;
    margin: 0 auto;
}

#top_button {
    display: inline-block;
    font-size: 2.5rem;
    width: 180px;
    height: 100px;
    background-color: var(--lb);
    color: var(--lf);
    text-decoration: none;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0 7px 0 #acabab;
    transition: all 0.2s;
}

#top_button:hover {
    background-color:var(--lh) ;
    transform: translate(0, 7px);
    box-shadow: 0 2px 0 #acabab;
}

/** 入力画面 */
#edit_button {
    font-family: "JF-Dot-k12x10", "游ゴシック", sans-serif;
    display: inline-block;
    font-size: 2rem;
    line-height: 1.5;
    width: 250px;
    height: 150px;
    background-color: var(--lb);
    color: var(--lf);
    text-decoration: none;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0 7px 0 #acabab;
    transition: all 0.2s;
}

#edit_button:hover {
    background-color:var(--lh) ;
    transform: translate(0, 7px);
    box-shadow: 0 2px 0 #acabab;
}

#post_result{
    max-width: 800px;
    margin: 0 auto ;
}

#edit_description{
    line-height: 1.5rem;
    margin: 2rem auto;
    padding: 0.5rem;
    width: 100%;
    max-width: 500px;
    background-color: var(--lb);
    color: var(--lf);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
}

label {
    font-size: 1.1rem;
}

select {
    font-family: "JF-Dot-k12x10", "游ゴシック", sans-serif;
    font-size: 1.1rem;
    line-height: 2;
    padding: 1rem;
    width: 100%;
    max-width: 400px;
    border: 2px solid #666;
    border-radius: 8px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#category, #category_me {
    text-align: center;
}

.question-select{
    max-width: 600px;
}

input{
    font-family: "JF-Dot-k12x10", "游ゴシック", sans-serif;
    font-size: 1rem;
    padding: 1.5rem;
    margin: 1rem auto;
    width: 100%;
    max-width: 300px;
    border: 2px solid #666;
    border-radius: 8px;
}

#category_custom, #category_me_custom {
    max-width: 365px;
    margin: 0.5rem 0 0 8.5rem;
    padding: 1.5rem 1rem;
}

input.avatar {
    display: none;
    }

.avatar_image, .avatar-image-piked{
    width: 200px;
    height: auto;
    display: inline-block;
    padding: 10px;
    margin: 8px;
    border: 3px solid transparent;
    border-radius: 50px;
    cursor: pointer;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
.avatar_image:hover {
    border-color: #ff3333;
    box-shadow: 0 0 8px rgba(255, 75, 51, 0.6);
}
input.avatar:checked + .avatar_image {
    border-color: #0077cc;
    box-shadow: 0 0 12px rgba(0,119,204,0.9);
}

textarea{
    font-family: "JF-Dot-k12x10", "游ゴシック", sans-serif;
    font-size: 1.1rem;
    padding: 1.5rem;
    margin: 1rem auto;
    width: 100%;
    max-width: 300px;
    border: 2px solid #666;
    border-radius: 8px;
}

.question-custom{
    max-width: 550px;
    margin: -2rem 0 0 7rem;
}

#torisetsu_attention{
    margin: -1rem 0 0 7rem;
}

.answer{
    max-width: 300px;
    height: 50px;
    margin: 1rem 0 0 1rem;
}

#message{
    max-width: 600px;
    height: 80px;
    margin: 0rem 0 5rem 0;
}

fieldset{
    background-color: var(--nb);
    border: 2px solid #999;
    border-radius: 30px;
    margin: 2rem 0;
}

#category_fieldset {
    padding: 1rem 0 2rem 0;
}

#name_fieldset{
    padding: 2rem 0;
}

#question_fieldset{
    padding: 2rem 0;
    margin: 5rem 0;
}

#torisetu_num
{
    font-size: 2rem;
}

/** リザルト画面 */

#Result_display{
    display: flex;
    max-width: 1200px;
    width: 100%; /* 横幅は可能な限り広げる（画面幅に応じて） */
    height: auto;
    margin: 2rem auto; /* 中央寄せ */
    padding: 3rem; /* スマホでも余白ができるように*/
    background-color: var(--nb); /*背景色 */
    /* border: 10px double rgb(167, 167, 167); */
    border-radius: 10px; /* 枠線の丸み*/
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

article h1{
    background-color:#fff ; /*背景色 */
    color: #000;
    border-radius: 10px; /* 枠線の丸み*/
    padding: 1.5rem;
    border-bottom: 1px solid #c0c0c0;
    border-left: 50px solid #646464;
    margin-top:5rem ;
}

#Name_and_message{
    flex: 2;
}

#Questions_and_Answers{
    flex: 4;
}

#Name_and_message h1 {
    font-size: 1.8rem;
    margin-bottom: 5rem;
    line-height: 2;
}

#Name_and_message h2 {
    font-size: 2rem;
    margin-bottom: 0;
}

#result_furigana {
    font-size: 1.1rem;
    line-height: 0;
    margin-top: 0.5rem;
    margin-bottom: 5rem;
}


#result_message {
    position: relative;
    padding: 20px 24px;
    color: #000;
    background:#ffffff;
    border: 2px solid var(--lb);
    border-radius: 50px;
    font-size: 1.2rem;
    margin-top: 3rem;
    line-height: 1.5;
}

/* 吹き出しの三角（下向き） */
#result_message::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 60%;
    transform: translateX(-50%);
    border: 15px solid transparent;
    border-top: 15px solid var(--lb);  /* 外枠の色 */
    z-index: 0;
}

  /* 内側（三角形の中身） */
#result_message::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 60%;
    transform: translateX(-50%);
    margin-top: -2px; /* 枠線分だけ上に */
    border: 13px solid transparent;
    border-top: 13px solid #ffffff;  /* 背景色と同じ */
    z-index: 1;
}

/** 質問と回答 */

ul{
    list-style: none; /* リストのドットを消す */
    text-align: left;
}

#Questions_and_Answers ul {
    padding: 0;
    margin: 5rem;
}

#Questions_and_Answers li {
    background-color: #f8f8f8;
    color : #000000;
    border-bottom: 3px solid #c0c0c0;
    border-left: 10px solid #646464;
    padding: 30px 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    line-height: 4;
}

.answer-text {
    display: block;
    font-size: 1.4rem;
    margin-left: 1.5rem;
    color: #00158a;
}

/* コピーURLなどの下部 */
#shareUrl {
    width: 80%;
    max-width: 500px;
    padding: 18px;
    margin-top: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1em;
}

#copy_url, #postToX,
form button {
    font-family: "JF-Dot-k12x10", "游ゴシック", sans-serif;
    text-decoration: none;
    margin-top: 0em;
    padding: 18px 25px;
    background-color: var(--lb);
    border: none;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.2s;
}

#copy_url:hover, #postToX:hover, form button:hover {
    background-color:var(--lh);
}

  /* 作成画面リンク */
a[href="/edit"] {
    display: inline-block;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

a[href="/edit"]:hover {
    color:var(--lh);
}
